%h1 #{@user.profile.name}さんの面接一覧
%h2 現在の面接日程
- if @user.interviews.present?
  %b
    #{@user.interviews.last.interview_date.strftime("%Y年%m月%d日 %H時%M分")}
  に面接が設定されています。
- else
  面接日程はまだ設定されていません。
%hr
%h2 面接日程を変更する場合は以下から選んでください。
- @interviews.each do |interview|
  .btn
    = interview.interview_date.strftime("%Y年%m月%d日 %H時%M分")


