= render 'layouts/header'
.interview_wrapper
  %h1 #{@user.profile.name}さんの面接一覧
  %table.table
    %thead
      %tr
        %th 面接開始時間
        %th 承認状態
        %th
    %tbody
  =link_to new_interview_path do
    %input{class: "btn", type: "submit", value: "新規面接作成"}
